@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-300;
}

.font-serif {
  font-family: 'Georgia', serif;
}

.font-sans {
  font-family: 'Arial', sans-serif;
}

.font-mono {
  font-family: 'Courier New', monospace;
}